table{
    border-collapse: collapse;
    width: 80%;
    color:#d96459;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}
th{
    background-color: #d96459;
    color:white;
}
tr{
    margin: 20px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

@media (max-width:550px){
    table{
        border-collapse: collapse;
    width: 50%;
    color:#d96459;
    font-family: monospace;
    font-size: 10px;
    text-align: left;
    margin-top: 20px;
    }
}